<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Budgety</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"></head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <style>
    body{
        background: #222326;
        color: #ff5e62;
        padding: 0px;
        margin: 0px;
        overflow-x:hidden;
    }

    #hero-area{
        background: linear-gradient(to right,	#ff9966,#ff5e62);
        height: 90vh !important;
        clip-path: polygon(0% 0%,100% 0%, 100% 80%, 0% 100%);
    }
    
    .nav-item{
        border: 1px solid;
        border-color: #666666;
        padding-left:3px;
        padding-right:3px;
        margin-left:15px;
        border-radius: 5px;
        font-size: 15px;
    }

    @media only screen and (max-width: 768px) {
        #hero-area {
            height:90% !important;
            clip-path: polygon(0% 0%,100% 0%, 100% 100%, 0% 100%);
        }
        .nav-item{
        border: 0px;
        padding-left:0px;
        padding-right:0px;
        margin-left:0px;
        }
    }
    .feature-card{
        padding: 10px;
        border: 2px solid;
        border-color: #AAAAAA;
        border-radius: 10px;

    }
    #why-bud{
        height: auto !important;
    }

    #meet-team img{
        margin-top: -50px;
    }

    #meet-team .fab{
        color: #222326;
    }

    #meet-team .card:hover{
        background: #ff5e62;
        color: #ffffff;
        transform: scale(1.1);
        margin: 5px;
  }

    hr{
        color: #ff5e62;
        background: #ff5e62;
    }

    #features{
        background: #ff5e62;
        color:#222326;
    }

    #footer{
        background: #eeeeee;
        color: #FFFFFF;
    }
    #team-foot{
        color:#222326;
    }
    tr:hover{
        background: #ff5e62 !important;
        transform: scale(1.1);
    }
    .card-design{
        background: linear-gradient(to right,	#ff9966,#ff5e62);
    }

    .propic{
        margin-top: -30px;
    }
    .lgbtn{
        background: linear-gradient(to right,	#ff9966,#ff5e62);
    }
    .lgbtn:hover{
        background: linear-gradient(to right,	#ff9966,#ff5e62);
        transform: scale(1.1);
    }
    
</style>
<body>
        <%- body %>
    <footer id="footer" class="py-1 text-center text-muted">
        <p class="h6 py-3 font-weight-normal" style="font-family: lato;">&nbsp;&nbsp;&nbsp;This site is maintained by <a href="#" id="team-foot">Team Budgety</a> </p>
    </footer>
</body>
</html>